<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>任务图监控系统</title>
    <link
        rel="icon"
        href="{{ request.url_for('static', path='favicon.ico') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/_colors.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/base.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_structure.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_analysis.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_statuses.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_summary.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_history.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/dashboard_error_types.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/errors.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/injection_layout.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/injection_nodes.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/injection_editor.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ request.url_for('static', path='css/injection_preview.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="module">
        import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ startOnLoad: false });
        window.mermaid = mermaid; // 允许你在 JS 中手动调用
    </script>
</head>
