<div id="layout-editor-overlay" class="overlay hidden">
    <div
        id="layout-editor"
        class="layout-editor"
        role="dialog"
        aria-modal="true"
        aria-labelledby="layout-editor-title"
    >
        <div class="layout-editor-header">
            <span id="layout-editor-title" class="layout-editor-title"
                >卡片布局</span
            >
            <button
                id="layout-editor-close"
                class="settings-close"
                type="button"
                aria-label="关闭"
            >
                &times;
            </button>
        </div>
        <div class="layout-editor-columns">
            <div class="layout-column" data-column="left">
                <div class="layout-column-header">左栏</div>
                <div
                    class="layout-column-dropzone"
                    id="layout-dropzone-left"
                ></div>
            </div>
            <div class="layout-column" data-column="middle">
                <div class="layout-column-header">中栏</div>
                <div
                    class="layout-column-dropzone"
                    id="layout-dropzone-middle"
                ></div>
            </div>
            <div class="layout-column" data-column="right">
                <div class="layout-column-header">右栏</div>
                <div
                    class="layout-column-dropzone"
                    id="layout-dropzone-right"
                ></div>
            </div>
        </div>
        <div class="layout-unused">
            <div class="layout-unused-header">未使用的卡片</div>
            <div
                class="layout-column-dropzone"
                id="layout-dropzone-unused"
            ></div>
        </div>
        <div class="layout-editor-footer">
            <button id="layout-save-btn" class="btn-layout-save" type="button">
                保存并关闭
            </button>
            <button
                id="layout-reset-btn"
                class="btn-layout-reset"
                type="button"
            >
                重置默认
            </button>
        </div>
    </div>
</div>
