<script src="{{ request.url_for('static', path='js/i18n.js') }}"></script>
<script src="{{ request.url_for('static', path='js/utils.js') }}"></script>
<script src="{{ request.url_for('static', path='js/util_estimators.js') }}"></script>
<script src="{{ request.url_for('static', path='js/web_config.js') }}"></script>
<script src="{{ request.url_for('static', path='js/loaders.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_statuses.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_structure.js') }}"></script>
<script src="{{ request.url_for('static', path='js/errors.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_analysis.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_summary.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_history.js') }}"></script>
<script src="{{ request.url_for('static', path='js/dashboard_error_types.js') }}"></script>
<script src="{{ request.url_for('static', path='js/injection.js') }}"></script>
<script src="{{ request.url_for('static', path='js/main.js') }}"></script>
<script src="{{ request.url_for('static', path='js/layout_editor.js') }}"></script>
